<ul class="pagination">
    <li><a href="?page=<%= results.previous %>" class="prev">< Prev</a></li>
    <li class="pageNumber active"><a href="?page=1">1</a></li>
    <li class="pageNumber"><a href="?page=2">2</a></li>
    <li class="pageNumber"><a href="?page=3">3</a></li>
    <li class="pageNumber"><a href="?page=4">4</a></li>
    <!-- <li class="pageNumber"><a href="?page=5">5</a></li> -->
    <!-- <li class="pageNumber"><a href="?page=6">6</a></li> -->
    <li><a href="?page=<%= results.next %>" class="next">Next ></a></li>
</ul>